#user-box {
    display: flex; /* Flexbox för att placera avatar och text horisontellt */
    padding-left: 10px; /* Justera padding för placering */
    margin-left: 0px;
    
}
#username-box {
    padding-top: 45px;
}

#avatar-box {
    margin-right: 30px;
}

#avatar-box img {
    border-radius: 20%;
    max-width: 100px;
}


.message-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  border: 2px dotted black;
  border-radius: 15px;
  max-width: 30%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
    
}

.message-item p {
    padding: 10px; 
    text-align: center; /* Centrera texten om du vill */
    
  }

  #erase-btn{
    height: 30px;
    margin-left: 5px;
    
  }