#user-box {
    display: flex; /* Flexbox för att placera avatar och text horisontellt */
    padding-left: 10px; /* Justera padding för placering */
    margin-left: 0px;
    
}
#username-box {
    padding-top: 45px;
}

#avatar-box {
    margin-right: 30px;
}

#avatar-box img {
    border-radius: 20%;
    max-width: 100px;
}

#tonewmsg {
   margin: 20px 10px;
   float: left;
   
}

#message-box {
    margin-top: 80px;
}

.message-pair {
    display: flex;
    justify-content: center; 
    align-items: flex-start; /* Se till att meddelanden är på samma höjd */
}

.my-message-item, .fake-message-item {
    max-width: 40%;
    /* padding: 10px; */
    word-wrap: break-word; 
       
}

.my-message-item {
    text-align: left;  
    margin-left: 5%;    
}

 .my-message-item p {
    padding: 20px; 
    background-color: rgb(118, 240, 99);
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0px;
  } 

  #erase-btn{
    height: 30px;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 5px;
    
    
  }

  .fake-message-item { 
    text-align: left;
  }

  .fake-message-item p {
    padding: 20px;
    background-color: #c6d5d0;
    border: 2px dotted black;
    border-radius: 15px;
    margin-top: 5px;
    
  }

 .fake-message-item img {
    width: 50px;
    margin-left: 0px
    
 }

 .writer {
    margin-left: 10px;
    justify-items: baseline;
 }

 #no-msg {
    margin-top: 15%;
 }