#home-box {
    margin-top: 10px;
    margin-left: 10%;  
    text-align: left;
}

#home-box h1 {
    font-size: 50px;
    font-family: fantasy;
    margin-bottom: 20px;
}

#home-box p {
   margin-left: 20px;   
}

#home-img-box img {
    width: 500px;
}