
#header {
    position: relative; /* Relativ position för att absolut positionerade element ska vara relativa till denna */
    margin-top: 0px;
    margin: 10px;
    height: 20px;
     

}


#headimg {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    margin: 5px; /* Justera marginalen om det behövs */
}

@media screen and (max-width: 1024px) {
    #main-content {
        margin-top: 50px; /* Lägger till lite extra utrymme för att förhindra överlappning */
        
    }
}

@media screen and (max-width: 768px) {
    #header {
         height: auto; /*Låt höjden anpassas automatiskt */
        
    }

    #headimg {
        position: static; /* Gör positionen statisk så att den flyttar sig med sidlayouten */
       margin-left: 250px;
        display: block;
    }

    #main-content {
        margin-top: 50px; /* Lägger till lite extra utrymme för att förhindra överlappning */
        
    }

}


