
/* Allmän navbar styling */
nav {
  position: fixed;  /* Fixera navbaren på vänstra sidan */
  top: 0;
  left: 0;
  height: 100%; /* Full höjd */
  width: 75px; /* Justera bredden på navbaren */
  background-color: #111; /* Bakgrundsfärg för navbaren */
  display: flex;
  align-items: flex-start; /* Justera innehållet till toppen */
  justify-content: center;
  z-index: 2; /* Placera navbaren över allt annat innehåll */
}

/* Hamburger-menu ikon */
.hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  color: white;
  margin:10px;
}
/* Sidnavigerings meny */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:3;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
    list-style-type: none;
    transition: 0.3s;
  }

  /* Öppna sidenav */
.sidenav.open {
  width: 230px; /* Sätt bredden till 250px när öppen */
}
  
  /* Navigationslänkar i sidenav*/
.sidenav a {
    padding: 5px 5px 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
  }

  /* Hover-effekt för länkar */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .active-link a.active {
    color: #f1f1f1;
  }

  /* Stängknapp i sidenav */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

 #first-link {

  margin-top: 50px;
 }

