#registerform {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
}

.input {
    background-color: rgb(217, 220, 225);
    
}

#registerbutton {
    width: 100px
}

#vald-avatar {
    max-width: 50px;
}