#registerform {
    width: 500px;
    margin-top: 20px;
    text-align: left;    
}

#registerbutton {
    width: 100px
}

#vald-avatar {
    max-width: 50px;
}

#register-container {
    text-align: left;
    margin-left: 5%;
}