#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#main-content {
  transition: margin-left 0.3s; /* Transition för att knuffa innehållet */
  margin-left: 75px;  /*Standardmarginal */
}

#main-content.shifted {
  margin-left: 250px; /* Marginalen ska matcha bredden på den öppna sidenav */
}

.sidenav.open + .main-content {
  margin-left: 230px; /* Samma bredd som öppen sidenav */
}