 body {
  background-color: rgb(192, 241, 241);
 }
 #root {  
  margin: 0 auto; 
  margin-left: 10px;
  text-align: center;
  
} 

#main-content {
  transition: margin-left 0.3s; /* Transition för att knuffa innehållet */
  margin-left: 75px;  /*Standardmarginal */
}

#main-content.shifted {
  margin-left: 250px; /* Marginalen ska matcha bredden på den öppna sidenav */
}

.sidenav.open + .main-content {
  margin-left: 230px; /* Samma bredd som öppen sidenav */
}